# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# Sensitive variables
*.tfvars
*.tfvars.json

# SSH keys
*.pem
*.key

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/